.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
  resize: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Основной контент */
.room-container {
  display: flex;
  height: calc(100vh - 57px); /* Вычитаем высоту хедера */
  position: absolute; /* Используем absolute вместо fixed */
  top: 57px; /* Располагаем ниже хедера */
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Меньший z-index, чтобы хедер был сверху */
  background-color: var(--bg-color);
  transition: all 0.3s ease-in-out, background-color 0.3s ease;
  overflow: hidden; /* Предотвращаем прокрутку внутри комнаты */
  border-top: 3px solid var(--border-color); /* Добавляем полоску-разделитель сверху */
}

/* Стили для комнаты со скрытым чатом */
.room-container.chat-hidden .chat-section {
  display: none;
}

/* Скролл-бар */
/* Основной контейнер скроллбара */
::-webkit-scrollbar {
  width: 0.4rem; /* Ширина вертикального скроллбара */
  min-height: 0.5rem; /* Высота горизонтального скроллбара */
}

/* Дорожка скроллбара */
::-webkit-scrollbar-track {
  background: var(--light-bg-color); /* Цвет фона дорожки */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  clip-path: polygon(
    50% 0,
    100% 0.15em,
    100% calc(100% - 0.15em),
    50% 100%,
    0 calc(100% - 0.15em),
    0 0.15em
  );
}

[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}
