.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
}

/* Основной контент */
.room-container {
  display: flex;
  height: calc(100vh - 57px); /* Вычитаем высоту шапки и футера */
}

/* Скролл-бар */
/* Основной контейнер скроллбара */
::-webkit-scrollbar {
  width: 0.4rem; /* Ширина вертикального скроллбара */
  min-height: 0.5rem; /* Высота горизонтального скроллбара */
}

/* Дорожка скроллбара */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона дорожки */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  clip-path: polygon(
    50% 0,
    100% 0.15em,
    100% calc(100% - 0.15em),
    50% 100%,
    0 calc(100% - 0.15em),
    0 0.15em
  );
}
