.user-icon {
  width: 32px; /* Ограничиваем ширину */
  height: 32px; /* Ограничиваем высоту */
  border-radius: 50%; /* Делаем круглую иконку */
  object-fit: cover; /* Сохраняем пропорции изображения */
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

/* Контейнер для специфичного контента комнаты */
.room-header-content {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 20px;
}

/* Информация о комнате */
.room-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.room-title {
  font-size: 18px;
  margin: 0 10px 0 0;
  font-weight: 500;
}

/* Кнопка настроек */
.gear-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.gear-icon:hover {
  opacity: 0.7;
}

/* Контейнер для кнопки выхода из комнаты */
.leave-room-header {
  margin-left: auto;
  position: relative;
}

/* Стиль кнопки "Покинуть комнату" в хедере */
.leave-button {
  background-color: #ef4444;
  color: white;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.leave-button:hover {
  background-color: #dc2626;
}

/* Стили для отображения времени до закрытия комнаты */
.room-expiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  transition: all 0.3s ease;
}

.expiration-time {
  font-weight: 500;
  color: #555;
}

.room-expiration.warning .expiration-time {
  color: #ef4444;
  font-weight: 700;
}

.expiration-warning {
  background-color: #fee2e2;
  color: #ef4444;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-weight: 600;
  text-align: center;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
