.user-icon {
  width: 32px;  /* Ограничиваем ширину */
  height: 32px; /* Ограничиваем высоту */
  border-radius: 50%; /* Делаем круглую иконку */
  object-fit: cover; /* Сохраняем пропорции изображения */
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

/* Контейнер для специфичного контента комнаты */
.room-header-content {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 20px;
}

/* Информация о комнате */
.room-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.room-title {
  font-size: 18px;
  margin: 0 10px 0 0;
  font-weight: 500;
}

/* Кнопка настроек */
.gear-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.gear-icon:hover {
  opacity: 0.7;
}
