# Visual Studio / .NET specific
.vs/
bin/
obj/
*.user
*.userosscache
*.suo
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# Sensitive configuration files
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Staging.json
**/appsettings.json
**/firebase-credentials.json

# Environment variables
.env

# Node.js / Frontend
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
coverage/
.vscode/
.env.local
.env.development.local
.env.test.local
.env.production.local
build/

# IDEs
.idea/
*.swp
*.swo

# Miscellaneous
.DS_Store
Thumbs.db
[Dd]esktop.ini

# Директории Docker
postgres_data/
.docker/
*.log

# Кэш и временные файлы
.eslintcache
.cache/
.parcel-cache/
.npm/

# Логи
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 