.wrapper {
  height: 100vh; /* Растягиваем контейнер на всю высоту окна */
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
}

.card {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-control {
  border-radius: 8px;
  padding: 12px;
}

#createNewRoom {
  text-align: center;
}

#description {
  resize: none;
}
#roomType {
  cursor: pointer;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
}

.container {
  max-width: 600px;
}
